Game/.vs/Game/v16/.suo
Game/.vs/Game/v16/Browse.VC.db
Game/.vs/Game/v16/Browse.VC.db-shm
Game/.vs/Game/v16/Browse.VC.db-wal
Game/.vs/Game/v16/Browse.VC.opendb
Game/.vs/Game/v16/ipch/904071e3d19a39bf.ipch
Game/.vs/Game/v16/ipch/ef6539f3970dc606.ipch
Game/.vs/Game/v16/ipch/AutoPCH/18d1521b4ad2ca44/CLIENT.ipch
Game/.vs/Game/v16/ipch/AutoPCH/bcf9118b6fab8b57/CLIENT.ipch
Game/Client/x64/Debug/Client.pch
Game/Engine/x64/Debug/Engine.idb
Game/Engine/x64/Debug/Engine.lib.recipe
Game/Engine/x64/Debug/Engine.log
Game/Engine/x64/Debug/Engine.obj
Game/Engine/x64/Debug/Engine.pch
Game/Engine/x64/Debug/Engine.pdb
Game/Engine/x64/Debug/EnginePch.obj
Game/Engine/x64/Debug/pch.obj
Game/Engine/x64/Debug/Engine.tlog/CL.command.1.tlog
Game/Engine/x64/Debug/Engine.tlog/CL.read.1.tlog
Game/Engine/x64/Debug/Engine.tlog/CL.write.1.tlog
Game/Engine/x64/Debug/Engine.tlog/Engine.lastbuildstate
Game/Engine/x64/Debug/Engine.tlog/Lib.command.1.tlog
Game/Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
Game/Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Game/x64/Debug/Client.exe
Game/x64/Debug/Client.ilk
Game/x64/Debug/Client.pdb
Game/Client/x64/Debug/Client.log
Game/Client/x64/Debug/pch.obj
Game/Client/x64/Debug/vc142.idb
Game/Client/x64/Debug/vc142.pdb
Game/Client/x64/Debug/Client.tlog/CL.command.1.tlog
Game/Client/x64/Debug/Client.tlog/CL.read.1.tlog
Game/Client/x64/Debug/Client.tlog/CL.write.1.tlog
Game/Client/x64/Debug/Client.tlog/link.read.1.tlog
Game/Client/x64/Debug/Client.exe.recipe
Game/Client/x64/Debug/Client.obj
Game/Client/x64/Debug/Game.obj
Game/Client/x64/Debug/Client.tlog/link.command.1.tlog
Game/Client/x64/Debug/Client.tlog/link.write.1.tlog
Game/Engine/x64/Debug/CommandQueue.obj
Game/Engine/x64/Debug/DescriptorHeap.obj
Game/Engine/x64/Debug/Device.obj
Game/Engine/x64/Debug/SwapChain.obj
Game/Output/Client.exe
Game/Output/Client.ilk
Game/Output/Client.pdb
Game/Output/Engine.lib
Game/.vs/Game/v16/Solution.VC.db
Game/.vs/Game/v16/Solution.VC.db-shm
Game/.vs/Game/v16/Solution.VC.db-wal
Game/Engine/x64/Debug/Mesh.obj
Game/Engine/x64/Debug/RootSignature.obj
Game/Engine/x64/Debug/Shader.obj
Game/Engine/x64/Debug/ConstantBuffer.obj
Game/Engine/x64/Debug/TableDescriptorHeap.obj
Game/Engine/x64/Debug/Texture.obj
Game/Engine/x64/Debug/Engine.tlog/unsuccessfulbuild
Game/Engine/x64/Debug/DepthStencilBuffer.obj
Game/Client/x64/Debug/Client.tlog/Client.lastbuildstate
Game/Client/x64/Debug/Client.tlog/rc.command.1.tlog
Game/Client/x64/Debug/Client.tlog/rc.read.1.tlog
Game/Client/x64/Debug/Client.tlog/rc.write.1.tlog
